/* Write your CSS here */
.bg_contaner {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.heading {
  align-items: center;
  color: #2d3a35;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto';
}
.paragraph {
  font-size: 20px;
  font-family: 'Roboto';
  color: ;
}
span {
  color: #c20a72;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 10px;
  height: 30px;
  width: 60px;
}
